* {
    padding: 0;
    margin: 0;
  }
  
  .xnav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vw;
    font-family: 'Cairo', sans-serif;
    
  }
  
  div {
    color: #727272;
    text-align: center;
  }
  
  p {
    margin: 16px;
    font-size: 96px;
    color: #ccc;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 1s ease-in-out;
    position: relative;
  
    &::before {
      content: attr(data-item);
      transition: all 1s ease-in-out;
      color: green;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 0;
      overflow: hidden;
    }
  
    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
  
  nav {
    margin: 30px;
    margin-bottom: 25px;
    background: #f9f9f9;
    padding-bottom: 16px;
  
    display: flex;
    align-items: center;
    .menuItems {
      display: flex;
  
      list-style: none;
  
      li {
        margin: 50px;
  
        .link {
          text-decoration: none;
          color: #8f8f8f;
          font-size: 24px;
          font-weight: 400;
          transition: all 0.5s ease-in-out;
          position: relative;
          text-transform: uppercase;
  
          &::before {
            content: attr(data-item);
            transition: 0.5s;
            color: green;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            overflow: hidden;
          }
  
          &:hover {
            &::before {
              width: 100%;
              transition: all 0.5s ease-in-out;
            }
          }
        }
      }
    }
  }

  .MobilMenuItems{
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: column;
    li {
      margin: 30px;

      .link {
        text-decoration: none;
        color: #8f8f8f;

        position: relative;
      

        &::before {
          content: attr(data-item);
          transition: 0.5s;
          color: green;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 0;
          overflow: hidden;
        }

        &:hover {
          &::before {
            width: 100%;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }

  }

  .HammButton{
    
    margin-left: auto;
    display: none;
  }

  img{
    width:200px;
    position: relative;
   
    align-self: center;
  }

  @media only screen and (max-width:950px ) {
    nav .menuItems {
      display: none;
    }
    .HammButton{
      display: block;
    }
  }