
/* Start protofolio Section */

.protofolio .container{
    display: block;
    margin: auto;
    text-align: center;
}
.protofolio .protoButtons{
    margin-bottom: 60px;
}
.protofolio .protoButtons button{
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.protofolio .protoButtons button:first-child{
    color: var(--mainColor);

}
.protofolio .protoImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.protofolio .protoImages .image{
    width: 33.333%;
    padding: 0 15px 20px;
    position: relative;
    cursor: pointer;
}
.protofolio img{
    width: 100%;
}

.protofolio .protoImages .image .imageHover{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 15px;
    width: 91%;
    height: 93%;
    padding: 0 0 20px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 1s;
}

.protofolio .protoImages .image:hover .imageHover{
    opacity: 1;
}

.protofolio .protoImages .image .imageHover i{
    font-size: 20px;
    color: var(--mainColor);
    margin-right: 15px;
}
@media screen and (max-width: 992px){
    .protofolio .protoImages{
        flex-wrap: wrap;
    }
    .protofolio .protoImages .image{
        width: 50%;
    }
}

@media screen and (max-width: 767px){
    .protofolio .protoImages{
        flex-wrap: wrap;
    }
    .protofolio .protoImages .image{
        width: 90%;
        margin-bottom: 15px;
    }
    .protofolio h2{
        font-size: 34px;
    }
    .protofolio .container .protoButtons button{
        font-size: 16px;
    }
    .protofolio .protoImages .image .imageHover{
        width: 91%;
        margin-bottom: 15px;
    }
}

/* End protofolio Section */



/* Start facts Section */

.facts{
    background-color: var(--secondaryColor);
}
.facts .container{
    justify-content: space-evenly;
}
.facts .item{
    text-align: center;
}

.facts i{
    font-size: 30px;
    color: var(--mainColor)
}
.facts h3{
    font-size: 26px;
    margin: 15px 0;
}
.facts h5{
    font-size: 16px;
    margin: 0;
}
@media screen and (max-width: 767px){
    .facts .container{
        flex-wrap: wrap;
    }
    .facts .item{
        width: 90%;
        margin-bottom: 15px;
    }
    .facts h3{
        font-size: 20px;
    }
    .facts h5{
        font-size: 16px;
    }
    .protofolio .protoImages .image .imageHover{
        width: 91%;
        margin-bottom: 15px;
    }
}

/* End facts Section */

