/* Start Services Section */

.about {
    text-align: center;
    background-color: var(--secondaryColor);
}
.about h2 ,.team{
    font-size: xx-large;
    margin-bottom: 20px;
    color: black;
    
    background-color: rgb(226, 237, 241);
}
.team h3 ,h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.about .itemsContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}
.about .itemsContainer .item{
    padding: 30px 15px;
    transition: .4s
}
.about .itemsContainer .item:hover{
    box-shadow: 5px 5px 5px 5px #ccc;
    -moz-box-shadow: 5px 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px 5px #ccc;
    -khtml-box-shadow: 5px 5px 5px 5px #ccc;
    background-color: white;
}
.services .itemsContainer .item i{
    font-size: 30px;
    color: var(--mainColor);
}

.about h3{
    font-size: 20px;
    margin: 15px 0;
}

.about p{
    line-height: 1.6em;
}
@media screen and (max-width: 992px){
    .about .itemsContainer{
        flex-wrap: wrap;
    }
    .about .itemsContainer .item{
        width: 50%;
    }
}

@media screen and (max-width: 767px){
    .about .itemsContainer{
        flex-wrap: wrap;
    }
    .about .itemsContainer .item{
        width: 100%;
    }
    .about h2{
        font-size: 34px;
    }
    .about h3{
        font-size: 18px;
    }

.team{
    color: black;
    font-size: xx-large;
}
}

/* End Services Section */