@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
.img{
width: 100vh;
position: absolute;
z-index: -1;
text-align: right;
margin-left: 500px;

}
 .containerHome{
  display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 50px;
    color: #10182f;
    width: 1040px;
    float: left;
    padding-left: -100px;
    
  }
  
  .h3{
    margin: auto;
    font-size: 90px;
    color: #377D71;
  }
  .h1{
  margin: auto;
  
}
.h5{
  margin: auto;
  padding-right: 320px;
  line-height: 30px;

  
  
}
.spanHome{
  text-align: left;
  margin-left: 40px;
  margin-top: 50px;
  
}



.spanLoginHome{
margin-top: 20px;
margin-left: 170px;
}
.pCameraHome{
  margin-left: -100px;
  font-weight: bold;
  color: #377D71;
}

.pLoginHome{
  margin-left: -42px;
  font-weight: bold;
  color: #377D71;
  
}
.spanCameraHome{
  margin-top: 20px;
  margin-left: 50px;
  
}
.btnGroupHome{
  display: inline-flex;
  margin-left: 50px;
  margin-top: 30px;

}
.buttonAllItemsHome{
  right: 19px;

}

@media all and (max-width:450px) {
  .img{
margin-left: 10px;
    position: relative;
    width: 40vh;
  }
  .containerHome{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-bottom: 500px;
    font-size: large;
    width: 523px;
  }
  .btnGroupHome{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
  }
  .spanHome{
    margin-left: 10px;
    margin-right: 450px;
    width: 460px;


  }
  .spanLoginHome{
    margin-left: 60px;
  }
.h3{
  font-size: 50px;
}
.h5{
overflow-wrap: break-word;
font-size: 20px;
width: 677px;
}
.buttonLoginHome{
  margin-left: 10px;
  right: 10px;
}
  .pCameraHome{
    margin-left: -70px;
  }
}


@media all and (max-width:950px) {
  .img{
margin-left: 10px;
    position: relative;
    width: 500px;
  }
  .containerHome{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-bottom: 500px;
    font-size: large;
    width: 523px;
  }
  .btnGroupHome{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
  }
  .spanHome{
    margin-left: 40px;
    margin-right: 450px;
    width: 460px;


  }
  .buttonAllItemsHome{
    margin-right: 19px;
  
  }
  .spanLoginHome{
    margin-left: 60px;
  }
.h3{
  font-size: 50px;
}
.h5{
overflow-wrap: break-word;
font-size: 20px;
width: 677px;
}
.buttonLoginHome{
  margin-left: 10px;
  right: 10px;
}
  .pCameraHome{
    margin-left: -90px;
  }
}






