 .hello{
    overflow: hidden;
    margin: 120px auto;
    width: 80%;
    box-sizing: border-box;
}
.hello .img-part{
    width: 37%;
    float: left; 
    height: 422.67px;
    border-radius: 5px;
    position: relative;
    margin-left: 3px;
  

}
.img-part img{
width: 100%;
    height: 100%;
position: absolute;
    top: 20px;
    left: 20px;
 }


.img-part .is i{
    padding: 10px;
    color: #fff;
    font-size: 18px;
}
.img-part:hover .is{
    display: block;
    top: 20px;
    transition-delay: 3s;
}
.hello .content-part{
    float: right;   
    width: 60%;
}
.upper{
    padding: 10px 30px;
}
.upper h2{
    font-size: 34px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 0;
    padding-left: 13px;
    position: relative;
    text-transform: uppercase;
}
.upper p{
    color: #555555;
    margin-top: 0px;
    line-height: 24px;
    border-bottom: 1px dashed #999999;
    padding-bottom: 15px;
    font-size: large;

}
.lower{
    overflow: auto;
    padding: 15px 30px;
}
.lower ul{

}
.lower ul li{
    float: left;
    list-style: none;
    width: 50%;
    padding: 10px 0px;
    color: #555555;
    font-weight: 400;
    line-height: 1;
}
.lower ul li a{
    text-decoration: none;
    color: #7e7e7e;
}
.lower ul span{
    color: #333333;
    font-weight: 500;
}
.hello .content-part .btns{
    overflow: auto;
    padding: 0px 30px;
}
.btns button{
    border: none;
    border-radius: 4px;
    padding: 10px 24px;
    background-color: #ff305b;
    margin-left: 2px;

}
.btns button a{
    color: #fff;
    text-decoration: none;  
    font-size: 16px;
    
}
 